.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
    margin-bottom: 60px;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-list li {
    margin-right: 20px;
}

.pagination-list li:last-child {
    margin-right: 0;
}

.pagination-list li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: white;
}

.pagination-list li:hover {
    background-color: #ddd;
}




.pagination-list1 {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pagination-list1 li {
    margin-right: 20px;
}

.pagination-list1 li:last-child {
    margin-right: 0;
}

.pagination-list1 li {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
}

.pagination-list1 li:hover {
    background-color: #ddd;
}